/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* search css */
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 130px;
    padding: 5px 20px;
    min-width: 500px;
    max-width: 500px;
}
.display_none{display:none;}
.fl-post-image-beside,
.fl-post-image-beside img{
	width: 100%; 
}


/* css end here */

.gform_wrapper li.hidden_label input{
    margin-top: 0px!important;
}

.gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio]{
    margin-top: 0px!important;
}
.gform_wrapper .gfield_required {
    color: #790000!important;
}
button#responsive-menu-button {
    height: 40px!important;
    width: 40px!important;
    
}
.topBar .menu a{ 
		line-height: 1.2em!important;
    } 
    .gform_wrapper .gfield_time_hour, 
    .gform_wrapper .gfield_time_minute {
        max-width: 5rem !important;
        min-width: 5rem !important;
    }
    .gform_wrapper .gfield_time_ampm select{
        padding: 15px 0 !important;
    }
.topBar .fl-row-content-wrap {
    padding: 10px 20px!important;
}
.gfield  input[type=text]{
	width: 100%!important;
}
.gfield_time_ampm select{
	min-width: 60px!important;
	width: 60px!important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -3px!important;
}
.gfield {
	padding-right: 15px!important;
}


.dir_btn a.fl-button{
	border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 200px;
    min-height: 45px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #e21616;
    border: 1px solid #e21616;
        font-size: 16px;
    line-height: 18px;
    font-weight: 500;	
}
.dir_btn a.fl-button:hover{
	border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}
.add_loc .address p{
	margin-bottom: 0px!important;
	padding-bottom: 0px!important;
}
footer .address a{
    display: flex;
    justify-content: flex-end;  
}

header .address a{
    display: flex;
    align-items: center;
}
.address a p:first-child{
    margin-right: 4px;
}
header .storename,
header .address a p{
    margin: 0 ;
}
header .phone span:before,
footer .phone span:before,
#responsive-menu-container .phone span:before{
    content: '\f095'!important;
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    margin-right: 4px!important;
    color: #fff!important;
    vertical-align: middle;
}
#responsive-menu-container .phone span{
    color: #fff !important;
}
footer .uabb-infobox-title-prefix .phone  span{
    color: #fff;
    font-weight: 600;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px !important;
}
.uabb-infobox-content .uabb-infobox-text p{
    font-weight: bold !important;
}

body.admin-bar .brex-mobile-menu-container-node {
    padding-top: 0px!important;
}
.uabb-image-carousel  .slick-arrow > i:before {
    color: #000!important;
}
.uabb-image-carousel  .slick-arrow {
    background-color: transparent!important;
}
.couponform .ginput_container_checkbox a{
    color: #032459!important;
}
.couponform .ginput_container_checkbox a:hover{
    color: #000!important;
}

.couponform .uabb-gf-style p{
    color: #54575a!important;
}   
.store-opening-hrs-container .store-opening-hrs {
    list-style: none!important;
    padding-left: 0px!important;
}
.store-opening-hrs-container .store-opening-hrs li{
    position: relative;!important;
}

.store-opening-hrs-container .store-opening-hrs li span{
    position: absolute;!important;
    right: 0px!important;
}
#breadcrumbs a{
   text-decoration: none!important;
}
form .gform_footer {
    padding-right: 20px!important;
}
.custom_searchHeader i:hover{
    cursor: pointer!important;
}

/* new menu css*/

header .menu li.mega-menu > .sub-menu{
    width: auto !important;
    margin: 0 -20px !important;
    text-align: left;
    background: none;
    padding-top: 25px;
}
header .menu li.mega-menu > .sub-menu .menu{
    float: none !important;
}
header .menu li.mega-menu > .sub-menu .menu.fl-menu-vertical > li{
    display: block;
}
header .menu li.mega-menu > .sub-menu .fl-menu{
    text-align: left !important;
} 

header .menu li.mega-menu > .sub-menu > li .fl-row-content-wrap{
    margin-top: 0px!important;
}

header .menu li.mega-menu > .sub-menu > li .fl-heading a{
    padding-left: 0px!important;
    padding-bottom: ;: 0px!important;
}
@media(min-width: 1024px){
.forAlign > div{
    width: 100%!important;
    float: left;
}

}

@media (min-width: 768px) and (max-width: 1024px){
.landscPadd .fl-row-content-wrap {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
.productCatlogLinks .uabb-infobox-title-wrap .uabb-infobox-title{
    font-size: 18px!important;
}    
.mPad > div{
    margin: 20px!important;
}
    .forAlign .uabb-infobox > div > div{
    display: block!important;
}
.forAlign .uabb-infobox .uabb-infobox-content{
        width: 100%!important;
}
.box_styling h2{
    font-size: 20px!important;
}       
}
@media(min-width:992px){
    .fl-module-brex-mega-menu .brex-mega-menu .mega-menu-saved-row-container .fl-col-group  .fl-col-small{
        max-height: 300px;
    }
}
@media screen and (max-width: 992px){
    #responsive-menu-container #responsive-menu-search-box, #responsive-menu-container #responsive-menu-additional-content, #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
}
@media(max-width:768px){
	.fl-content-slider .fl-slide-content{
	padding: 0px!important;
}
    form .gform_footer {
    padding-right: 20px!important;
}
    header .address a,
    footer .address a{
        justify-content: center;
    }
    .brex-mega-menu>li{
        padding: 0px 5px;
    }
    button#responsive-menu-button{
        top: 35px !important;
    }
    footer .uabb-infobox-button .uabb-module-content{
        text-align: center !important;
    } 
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
    }
}


@media (max-width: 735.5px) {
   .gform_footer {
    text-align: center!important;
}
}
@media(max-width:424px){
    header .address a p,
    header .phone span,
    footer .address a p{
        font-size: 13px !important;
    }
    header .fl-module-uabb-photo  .uabb-photo-content .uabb-photo-img{
        width: 220px;
    }
    button#responsive-menu-button{
        width: 40px !important;
        height: 40px !important;
    }
    button#responsive-menu-button {
    top: 25px !important;
}
}

@media(max-width:340px){
    header .address a p,
    header .phone span{
        font-size: 10px !important;
    }
    header .fl-module-uabb-photo  .uabb-photo-content .uabb-photo-img{
        width: 210px;
    }
    button#responsive-menu-button{
        top: 78px !important;
    }
    footer .address a p {
        font-size: 12px !important;
    }
}